body {
    background: url(https://neko.su/assets/img/bg_pattern.svg) center center;
    background-color: #1f2029;
    line-height: normal;
    font: 14px Oswald;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: normal;
    font-family: Oswald;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

a {
    text-decoration: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #7e8597;
}

.title_main {
    position: relative;
    padding: 0 0 50px;
    text-align: center;
    user-select: none;
    margin-top: -560px;
    color: #ff9d00;
}

.user_avatar {
    float: right;
    width: 49px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.1s linear;
}

.navbar {
    overflow: hidden;
    height: 49px;
    padding: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.navbar a:hover {
    color: rgb(255, 149, 0);
    background: #3c3c3c;
}

.dropdown .dropbtn {
    font: 17px Oswald;
    border: 0;
    outline: 0;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    height: 49px;
    transition: 0.1s linear;
    padding-top: 10px;
}

.dropdown .dropbtn:hover {
    color: rgb(255, 149, 0);
    background: #3c3c3c;
}

.login {
    float: right!important;
}

.navbar span {
    color: #ff9d00;
}

.logo {
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid;
    padding: 11px 16px!important;
    margin-right: 20px;
    text-align: center!important;
}

.main_btn {
    position: relative;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_btn a:hover {
    color: rgb(255, 149, 0);
    background: #b016167b;
}

.main_banner {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_banner div{
    width: 700px;
    height: 700px;
    background: url(../img/banner.png) no-repeat;
    background-size: contain;
    position: relative;
}

.main_btn a {
    user-select: none;
    text-align: center;
    margin: 20px;
    padding: 15px;
    position: relative;
    font-size: 18px;
    color: #f2f2f2;
    cursor: pointer;
    font-weight: 400;
    width: 360px;
    background-color: rgba(255, 0, 0, 0.1);
    min-width: 200px;
    transition: 0.1s linear;
}

.title_main h1 {
    font-size: 52px;
}

.title_main a {
    color: #ff9d00;
}

.title_main span {
    font-size: 18px;
    color: #ff9d00;
}

.touhou-status {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 125px;
}

.touhou-status span {
    font: 14px Oswald;
    font-size: 16px;
    color: rgba(255,255,255,.8);
    background-color: hsla(0,0%,100%,.1);
    padding: 15px;
    user-select: none;
    display: inline-block;
    margin: 5px;
    min-width: 200px;
}

h1, h2, h3, h4, h5 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ff9e01;
    height: 150px;
}

@media screen and (max-width: 1290px), screen and (max-height: 850px) {
    .footer {
        position: relative!important;
        padding: 75px 20px 10px!important;
    }
} 


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 95px 20px 10px;
    border: 100px;
}

.footer_left {
    flex: 0 0 calc(33.333333% - 20px);
    max-width: 33.333333%;
    margin-right: 20px;
    margin-top: 100px;
}

.footer_left span {
    color: #7e8597;
    font: 14px Oswald;
    font-weight: 400;
}

.footer_right {
    flex: 0 0 calc(66.666666% - 20px);
    max-width: 66.666666%;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    font-weight: 400;
}

.footer-col {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.footer_logo span{
    color: rgb(255, 149, 0);
}

.footer_left a{
    transition: 0.1s linear;
}

.footer_left a:hover {
    color: rgb(255, 149, 0);
    font-weight: 300;
}

.footer_right a{
    transition: 0.1s linear;
}

.footer_right a:hover {
    color: rgb(255, 149, 0);
}

.footer-col {
    margin-left: 20px;
    flex-flow: column;
    display: flex;
}

.footer {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ff9e01;
    height: 150px;
}

