<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <title>Touhou.land - Дискорд сервер</title>
    <link rel="shortcut icon" href="../static/img/favicon.jpg" type="image/x-icon">
</head>
<body>
    <div class="navbar" id="respNav">
        <a class="logo" href="/">TOUHOU<span>.LAND</span></a>
        <a class="login" href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">Авторизация</a>
        <a href="https://discord.gg/touhouland">Присоединиться</a>
        <a href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">Правила</a>
        <a href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">Магазин</a>
        <a href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">Поддержка</a>
        <a class="icon" onclick='NavBar()'>☰</a>
    </div>
    <section id="main">
        <div class="main_banner">
            <div class="touhou_background_left layer" data-speed="2" style="transform: translate(-16.05px, 15.06px);"></div>
            <div class="touhou_background_right layer" data-speed="2" style="transform: translate(-16.05px, 15.06px);"></div>
        </div>
        <div class="title_main">
            <div id="hello"></div>
            <h1><b>TOUHOU<a>.LAND</a></b></h1>
            <span>
                Ты, практически, попал на ламповый аниме сервер в дискорде.
                Скорее заходи к нам, у нас есть игры и тохо-девочки :)
            </span>
        </div>
        <div class="main_btn">
            <a href="https://discord.gg/touhouland" rel="nofollow noopener">Присоединиться к серверу</a>
            <a href="https://discordserver.info/795606016728760320/like">Проголосовать за сервер</a>
            <a href="https://discordserver.info/795606016728760320/lucky">Испытать удачу</a>
        </div>
        <div class="touhou-status">
            <span>Онлайн <b id="count_online"><%= params[0].online %></b> пользователей</span>
            <span>Всего <b id="count_all"><%= params[0].all_users %></b> пользователей</span>
            <span>В войсе <b id="count_voice"><%= params[0].in_voice %></b> пользователей</span>
            <span>Проведено <b id="count_events"><%= params[0].events %></b> мероприятий</span>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_left">
            <div class="footer_logo">
                <a href="https://discord.gg/touhouland"><b>TOUHOU</b><span>.LAND</span></a><span style="color: #7e8597;">© 2022 | v0.0.1</span>
            </div>
            <span>Мы не являемся аффилированным лицом компании <a href="https://discord.com">Discord Inc.</a></span>
        </div>
        <div class="footer_right">
            <div class="footer_col">
                <a class="ad" href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">По вопросам рекламы и сотрудничества<br></a>
                <a class="license" href="https://discord.com/api/oauth2/authorize?client_id=992755518458318998&redirect_uri=http%3A%2F%2F127.0.0.1%3A5500%2F&response_type=code&scope=identify">Лицензионное соглашение</a>
            </div>
        </div>
    </footer>
    <div id="scroll" class="scroll" style="display: none;">
        <img src="https://neko.su/assets/img/arrow.svg" title="Scroll To Top" alt="Scroll To Top" loading="lazy" decoding="async">
    </div>
</body>
<script src="../static/js/app.js"></script>
</html>